---
import CTA from "../CTA.astro";

---

<section class="pd__inline">
    <h2>Creemos que el acceso a una educación digna es un derecho fundamental.</h2>
    <CTA />
</section>
<style>
    section {
        margin-block: 10rem 7rem;
        text-align: center;
    }

    h2 {
        font-family: "Amatic SC", serif;
		font-weight: 700;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
</style>