---
import Stats from "../Stats.astro";
import House1 from "../../assets/basic-house.svg";
import House2 from "../../assets/house.svg";
import Truck from "../../assets/truck.svg";
import Box from "../../assets/box-icon.svg";
---

<div class="container">
    <section>
        <article>
            <img
                src={Box}
                alt="icon that represents the stat below, in this case it's a box"
            />
            <Stats stat={"+230"} statName={"Encomiendas"} />
        </article>
        <article>
            <img
                src={Truck}
                alt="icon that represents the stat below, in this case it's a truck"
            />
            <Stats stat={"+30"} statName={"Envios"} />
        </article>
        <article>
            <img
                src={House2}
                alt="icon that represents the stat below, in this case it's a house filled with boxes"
            />
            <Stats stat={"+12"} statName={"Viajes"} />
        </article>
        <article>
            <img
                src={House1}
                alt="icon that represents the stat below, in this case it's a building that represents a school"
            />
            <Stats stat={"4"} statName={"Escuelas"} />
        </article>
    </section>
    <div class="outside__border"></div>
    <img
        class="misc light"
        src="miscellaneas/light__misc.svg"
        alt="miscellanea for the banner, only for decoration"
    />
    <img
        class="misc transparent"
        src="miscellaneas/transparent__misc.svg"
        alt="miscellanea for the banner, only for decoration"
    />
</div>

<style>
    .container {
        position: relative;
        margin-inline: 2rem;
        isolation: isolate;
    }

    section {
        background-color: var(--yellow-primary);
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        gap: 3.5rem;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: 0;

        border: 5px solid var(--purple-border);
        border-radius: 2.5rem;

        margin-inline: 1rem;
        padding: 1.5rem 3rem;
        z-index: 10;
    }

    .outside__border {
        display: none;
    }

    section::-webkit-scrollbar {
        display: none;
    }

    article {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    :is(.misc) {
        position: absolute;
        z-index: -1;
    }

    .light {
        width: 7rem;
        top: 10rem;
        left: -2rem;
    }

    .transparent {
        display: none;
    }

    @media (min-width: 768px) {
        .container {
            margin-inline: 3rem;
        }
        section {
            margin-inline: 3rem;
            padding: 2rem;
            gap: 3rem;
        }

        .outside__border {
            display: block;
            border: 5px solid var(--purple-dark);
            border-radius: 2.5rem;
            position: absolute;
            width: 83%;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(2deg);
        }

        img {
            width: 4rem;
            aspect-ratio: 1;
        }

        .light {
            width: 20rem;
            top: -2.5rem;
            left: -3rem;
        }

        .transparent {
            display: block;
            width: 15rem;
            right: -3rem;
            top: 6rem;
        }
    }

    @media (min-width: 1300px) {
        .container {
            margin-inline: 20rem;
        }

        section {
            padding: 3rem;
        }

        .outside__border {
            display: block;
            border: 5px solid var(--purple-dark);
            border-radius: 2.5rem;
            position: absolute;
            width: 90%;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%) rotate(1deg);
        }

        img {
            width: 5rem;
        }

        .light {
            width: 30rem;
            top: -5rem;
            left: -15rem;
        }

        .transparent {
            display: block;
            width: 30rem;
            right: -15rem;
            top: -10rem;
        }
    }
</style>
