---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Header from "../components/Header/Header.astro";

import "@fontsource/amatic-sc";
import InfoBanner from "../components/InfoBanner/InfoBanner.astro";
import WorkInfo from "../components/WorkInfo/WorkInfo.astro";
import MainCTA from "../components/MainCTA/MainCTA.astro";
import Footer from "../components/Footer/Footer.astro";
import Wip from "../components/WIP/Wip.astro";
---

<Layout title="Grupo Tateti">
	<header class="bubble">
		<div class="bubble__form"></div>
		<Navbar />
		<Header />
	</header>
	<main class="section__margin">
		<InfoBanner />
		<WorkInfo />
		<MainCTA />
		<Wip />
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>

<style>
	header {
		background-color: var(--purple-light);
		overflow: hidden;
		position: relative;
	}

	.bubble__form {
		background: var(--purple-primary);
		position: absolute;
		top: 0;
		z-index: 0;
		border-radius: 0 0 50% 50%;
		width: 100%;
		height: 100%;
		transform: scaleX(1.5);
	}

	main {
		background-color: var(--purple-light);
	}
</style>
