---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Header from '../components/Header/Header.astro';

import "@fontsource/amatic-sc"
import InfoBanner from '../components/InfoBanner/InfoBanner.astro';
---

<Layout title="Grupo Tateti">
	<main>
		<Navbar />
		<Header />
		<InfoBanner />
	</main>
</Layout>

<style>

</style>
