---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import Header from '../components/Header/Header.astro';

import "@fontsource/amatic-sc"
import InfoBanner from '../components/InfoBanner/InfoBanner.astro';
import WorkInfo from '../components/WorkInfo/WorkInfo.astro';
import MainCTA from '../components/MainCTA/MainCTA.astro';
import Footer from '../components/Footer/Footer.astro';
---

<Layout title="Grupo Tateti">
	<header>
		<Navbar />
		<Header />
	</header>
	<main>
		<InfoBanner />
		<WorkInfo />
		<MainCTA />
	</main>
	<footer>
		<Footer />
	</footer>
</Layout>

<style>
	header {
		background-color: var(--purple-300);
	}

	main {
		background-color: var(--purple-200);
		padding-block: 2rem;
	}
</style>
