---
import "@fontsource/poppins";
import CTA from "../CTA.astro";
---

<section class="pd__inline">
    <div>
        <h1>
            Transformamos la realidad social de <span>escuelas rurales</span>
        </h1>
        <p>
            Nuestra misión es que la <span>igualdad de oportunidades</span> sea una
            realidad en las comunidades rurales del interior del país
        </p>
    </div>
    <div class="center"><CTA /></div>
</section>
<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding-block: 2rem;
        position: relative;
        z-index: 5;
    }

    h1 {
        font-family: "Amatic SC", serif;
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 2rem;
        color: var(--purple-ultra-dark);
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        max-width: 30ch;
    }

    span {
        font-weight: 600;
    }

    @media (min-width: 768px) {
        h1 {
            text-align: center;
            font-size: 4rem;
            max-width: 24ch;
            margin-inline: auto;
        }

        p {
            max-width: 36ch;
            margin-inline: auto;
            text-align: center;
        }
    }

    @media (min-width: 1024px) {
        div {
            display: grid;
            place-content: center;
            text-align: center;
        }

        h1 {
            font-size: 6rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
</style>
