---
// Aca van los imports
import Logo from '../../assets/Logo.webp'
---

<nav class="pd__inline">
    <img src={Logo} alt="Logo de la asociación civil Grupo Tateti">
    <div></div>
</nav>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 1rem;
    }

    div {
        height: 40px;
        width: 40px;
        border: 1px solid black;
    }
</style>