---
// Aca van los imports
import Logo from '../../assets/Logo.webp'
---

<nav class="pd__inline">
    <img src={Logo} alt="Logo de la asociación civil Grupo Tateti">
</nav>
<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
        position: relative;
        z-index: 5;
    }
</style>