---
// Aca van los imports
import Logo from "/GT_logo.webp";
import CTA from "../CTA.astro";
---

<nav class="pd__inline">
  <img src={Logo} alt="Logo de la asociación civil Grupo Tateti" />
  <span>
    <CTA href="#donation__links" />
  </span>
</nav>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    position: relative;
    z-index: 5;
  }

  img {
    width: 5rem;
    aspect-ratio: 5/4;
  }

  span {
    display: none;
  }

  @media (min-width: 768px) {
    img {
      width: 7rem;
    }

    span {
      display: block;
    }
  }
</style>
