---
const { stat } = Astro.props;
const { statName } = Astro.props;
---

<div>
	<p>{stat}</p>
	<h3>{statName}</h3>
</div>

<style>
	div {
		font-family: "Poppins";
		text-align: center;
	}

	p {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		color: var(--purple-ultra-dark);
	}

	h3 {
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.9;
		color: var(--purple-ultra-dark);
		text-transform: lowercase;
		text-align: center;
	}

	@media (min-width: 768px) {
		p {
			font-size: 1.75rem;
		}

		h3 {
			font-size: 1rem;
		}
	}

	@media (min-width: 1024px) {
		p {
			font-size: 2.25rem;
		}

		h3 {
			font-size: 2rem;
		}
	}
</style>
