<section class="center">
    <div>
        Aún estamos trabajando en esto! <br> Podés vernos desde cualquier celular!
    </div>
</section>

<style>
    section {
        display: none;
    }

    @media (min-width: 450px) {
        section {
            display: block;
            position: absolute;
            inset: 0;
            height: 100dvh;
            width: 100dvw;
            background: var(--purple-500);
            z-index: 100;
        }

        div {
            background: var(--yellow-300);
            padding: 2rem 4rem;
            border-radius: .75rem;
            font-size: 1.5rem;
            font-family: "Poppins", sans-serif;
        }
    }
</style>
