---
import Logo from '../../assets/Logo.webp'
---

<section class="pd__inline">
    <div class="bubble__form"></div>
    <img src={Logo} alt="Logo de la asociación civil Grupo Tateti">

    <p><span>Grupo Tateti</span> es un un grupo de intervención comunitaria, que desde el 2014 busca <span>acompañar de manera integral las trayectorias socioeducativas de comunidades rurales.</span></p>
    <ul>
        <li><a href=""><div></div>grupo_tateti</a></li>
        <li><a href=""><div></div>Whatsapp</a></li>
        <li><a href=""><div></div>Youtube</a></li>
        <li><a href=""><div></div>Linkedin</a></li>
        <li><a href=""><div></div>grupo_tateti</a></li>
    </ul>
</section>
<style>
    section {
        padding-bottom: 4rem;
        background-color: var(--purple-200);
        position: relative;
    }

    section::before {
        content: '';
        background-color: var(--yellow-300);
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 50% 50% 0 0;
        transform: scaleX(1.5);
    }

    img {
        margin-inline: auto;
        width: 5rem;
        height: 4rem;
        position: relative;
        transform: translateY(-2rem);
    }

    p {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        width: 30ch;
        margin-block: 3rem;
        position: relative;
        z-index: 5;
    }

    span {
        font-weight: 700;
        position: relative;
        z-index: 5;
    }

    ul {
        padding: 0;
        list-style: none;

        display: grid;
        gap: 2rem;
        position: relative;
        z-index: 5;
    }

    a {
        display: flex;
        gap: 1rem;
        align-items: center;

        font-family: "Poppins", sans-serif;
        color: var(--purple-500);
        text-decoration: none;
        position: relative;
        z-index: 5;
    }
</style>